<style type="text/css">

body {
  background-image: url('https://images1.ocweekly.com/imager/u/original/8116990/big_lebowski_13.jpg');
}
.footer {
  position: fixed;
  bottom: 0;
}

</style>

<div class="container", style="margin-top: 200px;">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3" style= "color: white;">
      <%= simple_form_for [@cocktail] do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, placeholder: "White russian", html: {style: "margin-right: 10px;"}  %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: "btn btn-treehouse"%>
      <% end %>
    </div>
  </div>
</div>
