<style type="text/css">

.footer {
  position: static;
  bottom: 0;
}

</style>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <% if @cocktail.photo.url %>
      <div class="cocktail-card">
        <%= cl_image_tag @cocktail.photo, height: 400, width: 400, crop: :fill, alt: "Avatar", style: "width: 515px;"%>
        <div class="content-cocktail" style="width: 400px">
          <h2>
            <%= @cocktail.name %>
          </h2>
        </div>
      </div>
      <% else %>
        <div class="cocktail-card">
          <%= image_tag "http://www.tastecocktails.com/wp-content/uploads/2016/11/WhiteRussian720FB.jpg", height: 400, width: 515, crop: :fill, alt: "Avatar", style: "width: 515px;"%>
          <div class="content-cocktail" style="width: 400px">
            <h2>
              <%= @cocktail.name %>
            </h2>
          </div>
        </div>
        <% end %>
    </div>
    <div class="col-xs-3">
      <div class="cocktail-card" id="ingredient" style="width: 500px;">
      <% @cocktail.doses.each do |dose|%>
        <p>
          <i class="fa fa-hand-o-right" aria-hidden="true"></i> <%= dose.ingredient.name %> <i class="fa fa-arrow-right" aria-hidden="true"></i> <%= dose.description %>
        </p>
        <br>
        <%= link_to "Delete", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}, id: "delete", class: "btn btn-danger" %>
      <% end %>
      <br>
      <%= link_to "Add a ingredient", new_cocktail_dose_path(@cocktail), id: "add", class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
